<div class="waiting-spinner">
    <span>@Text</span>
    <img src="assets/images/svg/infinite-spinner.svg" alt="Wait..." />
</div>

@code {
    [Parameter]
    public string Text { get; set; } = "";
}
