@font-face {
  font-family: "GochiHand-Regular";
  font-size: 36;
  font-weight: 400;
  font-size: normal;
  src: url("/fonts/GochiHand-Regular.woff") format("woff"), url("/fonts/GochiHand-Regular.woff2") format("woff2");
}
@font-face {
  font-family: "DancingScript-SemiBold";
  font-size: 36;
  font-weight: 600;
  font-size: normal;
  src: url("/fonts/DancingScript-SemiBold.woff") format("woff"), url("/fonts/DancingScript-SemiBold.woff2") format("woff2");
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  min-width: 320px;
  overflow-x: hidden;
  background: #fff;
}

/*#region container */
.container {
  padding: 0 10px;
}

@media (min-width: 576px) {
  .container {
    padding: 0 20px;
  }
}
@media (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 1024px) {
  .container {
    max-width: 964px;
    margin: auto;
    padding: 0 0px;
  }
}
@media (min-width: 1280px) {
  .container {
    max-width: 1200px;
    margin: auto;
    padding: 0 0px;
  }
}
/*#endregion container */
/*#region header */
.header {
  background-color: #0e3f89;
}
.header__inner {
  min-height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 768px) {
  .header__inner {
    min-height: 100px;
  }
}
/*#region brand-group */
.brand-group {
  display: flex;
  justify-content: start;
  align-items: center;
}
.brand-group__logo {
  margin-left: 0;
  line-height: 0;
  text-decoration: none;
  vertical-align: bottom;
}
.brand-group__logo__image {
  height: 64px;
  width: 64px;
}
.brand-group__title {
  display: inherit;
  height: 64px;
  align-items: center;
  padding: 0 0 8px 5px;
}
.brand-group__title__text {
  color: #fff;
  font-family: "DancingScript-SemiBold";
  font-size: 36px;
}

@media (min-width: 768px) {
  .brand-group__logo__image {
    height: 80px;
    width: 80px;
  }
  .brand-group__title {
    height: 80px;
  }
  .brand-group__title__text {
    font-size: 45px;
  }
}
/*#endregion brand-group */
.navbar {
  display: block;
}
.navbar__btn {
  width: 40px;
  height: 40px;
  border-radius: 3px;
  background-color: #e2725b;
  border: none;
  position: relative;
}
.navbar__btn::after {
  content: "";
  width: 16px;
  height: 3px;
  border-radius: 1px;
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 12px;
  left: 12px;
  box-shadow: 0 7px 0 0 rgba(0, 0, 0, 0.4), 0 14px 0 0 rgba(0, 0, 0, 0.4);
}
.navbar__content {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin: 0;
  padding: 20px;
  width: 100%;
}
.navbar__overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #85b5e6;
  opacity: 0.95;
  z-index: -1;
}
.navbar__close {
  display: inherit;
  width: 100%;
  justify-content: flex-end;
  font-size: 30px;
  color: #324157;
}
.navbar__list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.navbar__list li {
  align-content: baseline;
}
.navbar__list li a {
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px;
  font-family: "Roboto", "Arial";
  font-size: large;
}
.navbar__list li a:hover {
  color: #e16c3b;
}
.navbar__list li:last-child div {
  background-color: green;
  border-radius: 5px;
}
.navbar__content.visible {
  display: flex;
}

@media (min-width: 1024px) {
  .navbar__btn {
    display: none;
  }
  .navbar__content {
    display: flex;
    flex-direction: row;
    position: relative;
    justify-content: flex-end;
  }
  .navbar__overlay {
    display: none;
  }
  .navbar__close {
    display: none;
  }
  .navbar__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
  }
  .navbar__list li {
    margin-right: 20px;
  }
  .navbar__list li:last-child {
    margin-right: 0px;
  }
}
.navbar__dropdown {
  display: block;
  position: relative;
  z-index: 1;
}

/*#endregion header*/
/* Dropdown Button */
.navbar__dropdown__btn {
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: transparent;
  display: flex;
  align-items: center;
}

.navbar__dropdown__btn i {
  margin-left: 5px;
}

.navbar__dropdown__content {
  display: none;
  position: relative;
  background-color: transparent;
  top: 100%;
  width: -moz-max-content;
  width: max-content;
}

.navbar__dropdown__content a {
  padding-left: 20px !important;
}

.navbar__dropdown__content a i {
  margin-right: 5px;
}

.navbar__dropdown__content a:hover {
  background-color: #f9f4e7;
}

.navbar__dropdown:hover .navbar__dropdown__content {
  display: block;
}

@media (min-width: 1024px) {
  .navbar__dropdown__btn {
    border: none;
    cursor: pointer;
    background-color: #0e3f89;
    border-radius: 5px;
    transition: background-color 0.3s;
    display: flex;
    align-items: center;
  }
  .navbar__dropdown:hover {
    background-color: rgba(204, 204, 255, 0.062745098);
  }
  .navbar__dropdown__btn i {
    margin-left: 5px;
  }
  .navbar__dropdown__content {
    display: none;
    position: absolute;
    background-color: #324157;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.3);
    border: rgba(63, 137, 246, 0.5215686275) 1px solid;
    border-radius: 10px;
    top: 100%;
    width: -moz-max-content;
    width: max-content;
    padding: 10px 0;
  }
  .navbar__dropdown__content a {
    padding-left: 10px !important;
  }
  .navbar__dropdown__content a i {
    margin-right: 5px;
  }
  .navbar__dropdown__content a:hover {
    background-color: #f9f4e7;
  }
  .navbar__dropdown:hover .navbar__dropdown__content {
    display: block;
  }
}/*# sourceMappingURL=styles.css.map */