$mm-primary: #005999;
$mm-secondary: #e2725b;
$mm-light: #c4e4fb;
$mm-text: #fff;
$mm-white: #fff;
$mm-text-accent: #fff15b;
$mm-dark: #446;
$mm-obscure-40: rgba(0, 0, 0, 0.4);

$brand-font-family: "GochiHand", "Arial";
$main-font-family: "Roboto", "Arial";
$main-dense-font-family: "Roboto Condensed", "Arial";

$mmc-base: #0e3f89;
$mmc-accent: #e16c3b;
$mmc-light-cold: #ccdae9;
$mmc-light-warm: #f9f4e7;
$mmc-base-light: #85b5e6;
$mmc-base-dark: #324157;
$mmc-white: #fff;
$mmc-bg-main: #f5f9ff;

$mm-media-xs: 320px;
$mm-media-sm: 576px;
$mm-media-md: 768px;
$mm-media-lg: 1024px;
$mm-media-xl: 1280px;

$mm-header-height-sm: 80px;
$mm-header-height-lg: 100px;
