@import "vars";

/*#region container */
.container {
    margin: 0 10px;
}

@media (min-width: $mm-media-xss) {
    .container {
        margin: 0 20px;
    }
}

@media (min-width: $mm-media-sm) {
    .container {
        margin: 0 30px;
    }
}

@media (min-width: $mm-media-md) {
    .container {
        margin: 0 40px;
    }
}

@media (min-width: $mm-media-xl) {
    .container {
        max-width: 1200px;
        margin: auto;
        padding: 0 0px;
    }
}
/*#endregion container */
