@import "vars";

/*#region mm-article */

.mm-article {
    line-height: $mm-lh-wide;
    &__header {
        display: flex;
        flex-direction: column;
        margin-bottom: $mm-fs-xxl;

        &__row {
            display: flex;
            flex-direction: column;
            padding: 10px;
            background-color: $mmc-light-cold;
            border-radius: 15px;
        }
    }

    &__title {
        color: $mmc-base-dark;
        margin-bottom: 0;
    }

    &__info {
        display: inline-flex;
        align-items: center;
        text-indent: $mm-fs-xxs;
        margin-bottom: $mm-fs-md;
        font-size:$mm-fs-sm;
    }

    &__image {
        display: flex;
        width: 80%;
        margin-inline: auto;

        img {
            width: 100%;
            height: 100%;
            border-radius: 15px;
            object-fit: cover;
        }
    }

    &__authors {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 15px;
        flex-wrap: wrap;
    }

    &__abstract {
        color: $mmc-base-dark;
        font-size: $mm-fs-md;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 20px 30px;
    }

    &__body {
        font-size: $mm-fs-mdx;
    }
}

@media(min-width: $mm-media-md){
    .mm-article {
        max-width: 800px;
        margin-inline: auto;

        &__header {
            &__row {
                flex-direction: row;
            }
        }

        &__title {
        }

        &__info {
            text-indent: $mm-fs-xxl;
        }

        &__authors {
            font-size: $mm-fs-lg;
        }

        &__image {
            img {
            }
        }

        &__abstract {
            max-width: 50%;
            padding: 20px 10px;
        }
    }

}


.author-chip {
    display: inline-flex;
    align-items: center;
    padding: 5px;
    margin-inline: 5px;
    border-radius:20px;
    background-color: transparent;
    text-decoration:none;

    img {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        object-fit: cover;
    }

    span {
        padding-inline: 3px;
        text-indent: 0;
    }
}


/*#endregion mm-article */
