@import "vars";
@import "fonts";

*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
    font-family: Roboto;
    font-size:18px;
}
@media (min-width: $mm-media-xss) {
    html {
        font-size: 18px;
    }
}
@media (min-width: $mm-media-sm) {
    html {
        font-size: 18px;
    }
}
@media (min-width: $mm-media-md) {
    html {
        font-size: 18px;
    }
}
@media (min-width: $mm-media-lg) {
    html {
        font-size: 18px;
    }
}
@media (min-width: $mm-media-xl) {
    html {
        font-size: 18px;
    }
}

body {
    display:flex;
    flex-direction:column;
    min-width: $mm-media-xs;
    min-height: 100vh;
    overflow-x: hidden;
    background: $mmc-white;
}
body:has(.navbar__content.visible){
    overflow:hidden;
}


mediaquerylist{
    display: inherit;
    flex-direction: inherit;
    min-height: inherit;
}

h1 {
    text-wrap-mode: wrap;
    text-wrap-style: pretty;
}

h2 {
    margin: 10px 0;
}

input:focus-visible, textarea:focus-visible{
    outline:none;
}

/*.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}
*/

.e-control, [class^="e-"] *:not([class*="e-icon"], [class*="heb"]) {
    font-size: 1rem !important;
    font-family: Roboto !important;
}

.e-carousel.e-partial .e-carousel-slide-container {
    width:320px;
    margin-inline:auto;
    padding: 0 !important;
}
@media(min-width:640px){
    .e-carousel.e-partial .e-carousel-slide-container {
        width: 440px;
        margin-inline: auto;
    }
}
/*@media(min-width:960px) {
    .e-carousel.e-partial .e-carousel-slide-container {
        width: 960px;
        margin-inline: auto;
        padding: 0 320px !important;
    }
}*/




@import "sidebar";
@import "container";
@import "header";
@import "greetings";
@import "mm-cards";
@import "team-section";
@import "mm-form";
@import "mm-article";
@import "mm-hebrew";
@import "article-racks";
@import "footer";

/*

display: grid;
grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));

*/

/*#region afterword */


.afterword {
    display: flex;
    flex-direction: column;
    padding: 30px;

    &__body {
        font-size: $mm-fs-mdx;
        line-height: $mm-lh-wide;
        padding-bottom: 20px;

        p {
            text-indent: 1em;
        }
    }

    &__action {
        text-align: center;

        button {
            width: 240px;
            font-size: $mm-fs-lg;
        }
    }
}
@media(min-width: $mm-media-md) {
    .afterword {
        padding: 50px;

        &__body {
            font-size: $mm-fs-md;
        }
    }
}
@media(min-width: $mm-media-md){
    .afterword {
        width: 70%;
        margin-inline: auto;

        &__body {
            font-size: $mm-fs-lg;
        }
    }
}
/*#endregion afterword */
/*#region modal */
.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow:auto;
    background-color: $mmc-overlay-transparent;
    z-index: 1;
}

.modal {
    margin: 15% auto;
    padding: 1rem;
    max-width: $mm-media-xs;
    height: fit-content;
    background-color: $mmc-white;
    border-radius: 10px;

    &__header {
        margin: 0 auto 10px;

        &__title {
            font-size: 1.5em;
            font-weight: 500;
            color: $mmc-base-dark;
            text-align: center;
        }
    }
    &___body {
        padding: 10px;
    }
    &__actions {
        display: flex;
        justify-content: space-around;
        padding: 5px;

        .accent-btn {
            padding: 8px 20px;
            font-size: 1em;
        }
    }
    &__message {
        line-height: $mm-lh-wide;
        color: $mm-dark;
        margin-bottom: 10px;
    }
    &__message-note {
        line-height: $mm-lh-base;
        font-size: smaller;
        color: $mm-dark;
        margin-bottom: 10px;
    }

    &__fail {
        p {
            color: $mmc-icon-quickhelp;
        }
    }
}
@media(min-width: $mm-media-md){
    .modal{
        max-width: $mm-media-xss;
    }
}

.modal-overlay.show {
    display: block;
}

/*#endregion modal */



.mm-content {
    padding: 0.5rem 0;

    p {
        margin-bottom: 5px;
        text-indent: 1rem;
        font-size: $mm-fs-mdx;
        line-height: $mm-lh-extra;
        color: $mmc-content-base;
    }

    ul li {
        text-indent: 1rem;
        font-size: $mm-fs-mdx;
        line-height: $mm-lh-extra;
        color: $mmc-content-base;
        list-style: inside;
        padding: 0 0 0 2rem;
    }
}
@media(min-width: $mm-media-lg) {
    .mm-content {
        padding-inline:30px;
        p {
            margin-bottom: 10px;
        }
    }
}

.mm-content:last-child {
    margin-bottom: 20px;
}

.mm-center-text{
    text-align:center;
}

.mm-center-block{
    width: fit-content;
    margin: auto;
}
.mm-page-title{
    color:$mmc-base-dark;
}
/* ----------------------------- ONE-TIME STYLES AND CONSTANTS -------------------------------*/
.accent-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $mmc-accent;
    border: none;
    border-radius: 10px;
    margin-inline:auto;
    padding: 8px;
    font-weight: 500;
    color: $mmc-white;

    &:hover, &:active, &:focus {
        background-color: $mmc-accent-dark;
        cursor: pointer;
    }
}

.accent-link {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background-color: transparent;
    color: $mmc-accent;
    border: none;
    font-weight: 500;

    &:hover, &:active, &:focus {
        background-color: $mmc-shadow;
        cursor: pointer;
    }
}

.pending-btn::before {
    content: "";
    width: 1rem;
    height: 1rem;
    display: inline-block;
    background-image: url("/assets/images/svg/spinning-dots.svg");
    background-size: cover;
    margin-inline: 3px;
}

.team-card {
    background-color: $mmc-extralight-warm;
    /*box-shadow: gray 4px 4px 8px 0px;*/
}

.service-card {
    background-color: $mmc-extralight-cold;
    box-shadow: gray 4px 4px 8px 0px;
}

i.mdi-school {
    color: $mmc-icon-bagrut;
}

i.mdi-feather {
    color: $mmc-icon-blog;
}

i.mdi-alarm-light-outline {
    color: $mmc-icon-quickhelp;
}

i.mdi-trophy {
    color: $mmc-icon-olympics;
}

i.mdi-square-root {
    color: $mmc-icon-mathematics;
}

i.mdi-abjad-hebrew {
    color: $mmc-icon-mathhebrew;
}

i.mdi-magnify {
    color: $mmc-icon-search;
}

i.mdi-bell-ring-outline {
    color: $mmc-icon-news;
}

i.mdi-account-group {
    color: $mmc-icon-team;
}

i.mdi-email-fast-outline {
    color: $mmc-icon-contacts;
}


span.mm-brand__text {
    display: inline-block;
    height: 1em;
    font-family: 'DancingScript-SemiBold' !important;
    font-size: 1.8em;
}

@media (min-width: $mm-media-md) {
    span.mm-brand__text {
        font-size: 2.2em;
    }
}

span {
    &.red-emph {
        color: red;
        font-weight: 500;
    }
    &.accent-bold {
        color: $mmc-accent;
        font-weight: bold;
    }
}

.under-construction-page {
    padding: 10px;
    p {
        padding: 5px 10px;
        text-indent: 1em;
    }
}

.no-scroll{
    position:fixed;
    z-index:-2;
}

@media(min-width:$mm-media-xs){
    .hide-on-xs{
        display: none;
    }
}

@media(min-width:$mm-media-sm) {
    .hide-on-sm {
        display: none;
    }
}

@media(min-width:$mm-media-md) {
    .hide-on-md {
        display: none;
    }
}

@media(min-width:$mm-media-lg) {
    .hide-on-lg {
        display: none;
    }
}

.waiting-spinner {
    font-size:$mm-fs-xl;
    display: inline-flex;
    width:100%;
    align-content: center;
    justify-content:center;

    img {
        width: $mm-fs-xxl;
        height: $mm-fs-xxl;
    }
}

.textit{
    font-style:italic;
}

.intext-link{
    text-decoration-style:dotted;
    text-decoration-color: $mmc-accent;
}

mjx-container {
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 6px;
}

/* Custom scrollbar styling for Firefox */
mjx-container {
    scrollbar-color: $mmc-light-cold $mmc-white;
    scrollbar-width: thin;
}

/* Styling the scrollbar in Chrome and Safari */
mjx-container::-webkit-scrollbar {
    width: 7px;
}

mjx-container::-webkit-scrollbar-thumb {
    background-color: white; /* Set thumb color for Chrome and Safari */
}

mjx-container::-webkit-scrollbar-track {
    background-color: white; /* Set track color for Chrome and Safari */
}

.math-img {
    width: 100%;
    max-height: 240px;
    display: flex;
    justify-content: center;
    overflow-x:auto;
    img{
        width:100%;
    }
}

.links-stack{
    display: flex;
    flex-direction: column;
    padding: 20px 0;
}
@media(min-width: $mm-media-xss){
    .links-stack {
        padding: 20px;
    }
}

.icon-link {
    min-width: 300px;
    max-width: 640px;
    display: inline-flex;
    align-items: center;
    margin-bottom: 15px;
    border: gray 1px solid;
    background-color: $mmc-light-cold;
    border-radius: 5px;
    cursor:pointer;

    &__icon {
        width: 80px;
        height: 80px;
        background-color: $mmc-white;
        border-radius: 5px;

        img {
            width: 100%;
            height: 100%;
            padding: 5px;
        }
    }

    &__text {
        font-size: $mm-fs-md;
        color: $mmc-base-dark;
        padding-left: 10px;
    }
}

.author-list {
    display: flex;
    flex-direction: column;
}
@media(min-width: $mm-media-xss) {
    .author-list {
        padding: 10px 20px;
    }
}

.author-link {
    min-width: 300px;
    max-width: 640px;
    display: inline-flex;
    align-items: center;
    margin-bottom: 15px;
    border: gray 1px solid;
    background-color: $mmc-light-warm;
    border-radius: 5px;
    cursor: pointer;

    &__icon {
        min-width: 96px;
        height: 120px;
        border-radius: 5px;

        img {
            width: 100%;
            height: 100%;
            padding: 5px;
        }
    }

    &__info {
        font-size: $mm-fs-md;
        padding-left: 10px;

        h3 {
            color: $mmc-accent;
        }

        p {
            color: $mmc-base-dark;
            font-size: $mm-fs-md;
        }
    }

}

e-bigger.e-grid.e-row-responsive .e-gridcontent td::before {
    width: 20% !important;
}

.e-bigger.e-grid.e-row-responsive .e-gridcontent td[data-cell]{
    padding-left: 20% !important;
}

.alert {
    position: relative;
    padding: 10px 10px;
    margin: 1.5rem;
    color: $mmc-content-base;
    background-color: $mmc-extralight-cold;
    border: 2px solid $mmc-base-light;
    border-radius: 5px;
    &-success {
        color: $mmc-success;
        background-color: $mmc-success-light;
        border-color: $mmc-success-dark;
    }
    &-error {
        color: $mmc-error;
        background-color: $mmc-error-light;
        border-color: $mmc-error-dark;
    }
}

.mm-fullwidth{
    width:100%;
}