@import "vars";

.team-section {
    background-color: $mmc-base;
    padding: 0 0 20px;

    &__title {
        font-weight: 500;
        text-align: center;
        align-content: center;
        color: $mm-white;
        margin:0;
        padding: 20px;
    }
}

.team-card {
    padding: 10px 20px;
    max-width:400px;
    margin-inline:10px;

    &__person {
        display: flex;
        flex-direction: row;
        text-align: left;
        text-decoration: none;
        color: $mmc-accent;
        cursor: pointer;
        justify-content: start;
        align-items: center;


        &__photo {
            width: 50%;
            img {
                width: 100%
            }
        }
        &__name {
            width: 100%;
            display: flex;
            justify-content: center;
            p {
                max-width: min-content;
                font-weight: bold;
                font-size: $mm-fs-xl;
                line-height: $mm-lh-wide;
            }
        }
    }

    &__info {
        text-align: left;
        padding-top: 10px;
    }
}

@media(min-width: $mm-media-xss) {
    .team-card {
        &__person {
            &__photo {
                width: 40%;
            }
        }
    }
}

@media(min-width: $mm-media-md) {
    .team-card {
        &__person {
            &__photo {
                width: 40%;
            }

            &__name {
                font-size: $mm-fs-lg;
            }
        }
    }
}

@media(min-width: $mm-media-lg) {
    .team-card {
        &__person {
            &__photo {
                width: 40%;
            }
        }
    }
}

.team-carousel{
    overflow-x: auto;
    display:inline-flex;
}
@media(min-width: $mm-media-sm) {
    .team-carousel {
        grid-column: span 2;
    }
}

@media(min-width: $mm-media-sm) {
    .team-join-area {
        grid-column: span 2;
    }
}

@media(min-width: $mm-media-xl) {
    .team-join-area {
        grid-column: unset;
    }
}

.team-join-card {
    background-color: transparent;
    color: $mmc-white;
    height: 100%;
    padding: 0 20px;
    max-width:400px;
    margin-inline:auto;

    &__body {
        padding: unset;
        line-height: $mm-lh-wide;
        font-size: $mm-fs-mdx;
    }

    &__footer {
        margin-top: 15px;
        text-align: center;

        button {
            width: 240px;
            font-size: $mm-fs-lg;
        }
    }
}

@media(min-width: $mm-media-sm) {
    .team-join-card {
        width: 60%;
        margin: auto;
        max-width: unset;
    }
}
@media(min-width: $mm-media-xl) {
    .team-join-card {
        width: 100%;

        &__footer {
            margin-top: auto;
        }
    }
}

.team-slider {
    position: relative;
    overflow: hidden;
    width: 100%;
    max-width: 100vw; /* Adjust as needed */
    margin: auto;
    /*touch-action: none;*/

    &__slides {
        display: flex;
    }

    &__item {
        box-sizing: border-box;
        display: flex;
        justify-content: center;
    }

    &__nav-button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: #6c79938a;
        border: none;
        padding: 0;
        cursor: pointer;
        z-index: 10;
        width: 2rem;
        height: 2rem;
        font-weight: 700;
        border-radius: 50%;
        text-align: center;
        color: $mmc-accent;

        &:focus-visible {
            outline: none;
        }

        &:hover {
            background-color: #151c2a8a;
        }

        &:active {
            color: $mmc-accent-dark;
        }
    }

    &__nav-button.prev {
        left: 0px;
    }

    &__nav-button.next {
        right: 0px;
    }

    &__nav-button.disable-btn {
        display: none;
    }
}

@media(min-width: $mm-media-sm) {
    .team-slider {
        max-width: 90vw; /* Adjust as needed */
    }
}

.author-page {
    display: flex;
    flex-direction: column;

    &__top {
        h1 {
            overflow: hidden;
        }
    }

    &__card {
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        background-color: $mmc-white;
        box-shadow: 0 4px 10px rgba(0,0,0,.08),0 4px 6px rgba(0,0,0,.04);

        &__image {
            width: 100%;
            height: 100%;

            img {
                display: block;
                border-radius: 20px 20px 0 0;
                width: 100%;
                height: 100%;
            }
        }

        &__info {
            padding: 10px;
            align-content: center;

            p {
                font-size: $mm-fs-lg !important;
            }
        }
    }

    &__date {
        margin: 10px 0;
        text-align: end;
        color: #888;
    }

    &__body {
        padding: 10px;
        font-size: $mm-fs-mdx !important;
    }
}

@media(min-width:$mm-media-sm){
    .author-page {
        &__top {
            h1 {
            }
        }

        &__card {
            border-radius: 20px;
            flex-direction: row;

            &__image {
                width: 50%;
                height: 50%;
                max-width: 360px;
                min-width: 280px;

                img {
                    border-radius: 20px 0 0 20px;
                }
            }

            &__info {
                padding: 40px 15px 10px;

                p {
                    font-size: $mm-fs-lg !important;
                }
            }
        }

        &__date {
        }

        &__body {
        }
    }
}

.author-page__contacts {
    padding: 20px;

    ul {
        list-style-type:none;
        li {
            margin: 10px 0;
            a {
                text-decoration: none;
                color: $mmc-base-dark;

                i {
                    color: $mmc-accent-dark;
                    font-size: $mm-fs-lg;
                }

                span {
                    font-size: $mm-fs-lg;
                }
            }
        }
    }
}