$mm-primary: #005999;
$mm-secondary: #e2725b;
$mm-light: #c4e4fb;
$mm-text: #fff;
$mm-white: #fff;
$mm-text-accent: #fff15b;
$mm-dark: #446;
$mm-obscure-40: rgba(0, 0, 0, 0.4);

$brand-font-family: "GochiHand", "Arial";
$main-font-family: "Roboto", "Arial";
$main-dense-font-family: "Roboto Condensed", "Arial";

$mmc-base: #0e3f89;
$mmc-accent: #e16c3b;
$mmc-light-cold: #d9ecff;
$mmc-light-warm: #f9f4e7;
$mmc-base-light: #85b5e6;
$mmc-base-dark: #25436e;
$mmc-white: #fff;
$mmc-bg-main: #f5f9ff;
$mmc-active-link: #f1e2aa;
$mmc-overlay: #11171e;

$mmc-icon-bagrut: #199931;
$mmc-icon-blog:#fff;
$mmc-icon-olympics: #e5ae00;
$mmc-icon-quickhelp: #f62c22;
$mmc-icon-mathematics: #ff3aa9;
$mmc-icon-mathhebrew: #2892ff;
$mmc-icon-team: #81ff5a;
$mmc-icon-contacts: #ff7d00;


$mm-media-xs: 320px;
$mm-media-xss: 448px;
$mm-media-sm: 576px;
$mm-media-md: 768px;
$mm-media-lg: 1024px;
$mm-media-xl: 1280px;

$mm-header-height-sm: 80px;
$mm-header-height-lg: 100px;
