@page "/"
@rendermode InteractiveServer
@inject NavigationManager _navigationManager

<PageTitle>More Math</PageTitle>

@* TODO: Refactor css and classes: font-size must depend on media on body level *@

<section class="container">
    <div class="greetings">
        <div class="greetings__banner">
            <img class="greetings__banner__image"  src="/assets/images/svg/mm-main-banner-plain-min.svg" alt="moremath haifa"/>
        </div>
        <div class="greetings__welcome">
            <h1 class="greetings__welcome__title">Всем привет!</h1>
            <p class="greetings__welcome__subtitle">
                <span class="mm-brand__text">more math</span>
                &mdash; это проект для тех,
                кто любит математику или хочет её полюбить,
                ну или хотя бы хочет перестать её бояться.
            </p>
        </div>
    </div>
    <div class="testlesson-call">
        <div class="testlesson-call__text">
            <p>
                С чего начать? Конечно, с пробного занятия!
            </p>
            <p>
                Полноценное часовое занятие <span class="red-emph"> со&nbsp;скидкой&nbsp;50%! </span>
            </p>
            <p>
                Запишись по телефону
            </p>
            <p class="phone-number">
                (+972) 55-7703-882
            </p>
            <p>
                либо по ссылке:
            </p>
        </div>
        <div class="testlesson-call__action">
            <button class="accent-btn" @onclick="()=>_navigationManager.NavigateTo(Roots.TestLesson)">
                Пробное занятие
            </button>
        </div>
    </div>
</section>

<section class="container">
    @*Homepage Cards *@
    <div class="cards-container">
        <ServiceCard MdIcon="school" Title="Подготовка к~~багруту" ButtonLink=@Roots.Bagrut>
            Нужны регулярные занятия один или два раза в неделю по всем темам с решением и разбором задач? Возможен как онлайн-формат, так и очные занятия.
         </ServiceCard>

        <ServiceCard MdIcon="alarm-light-outline" Title="Скорая мат.~~помощь" ButtonLink=@Roots.QuickHelp>
                    Застрял на сложной задаче или никак не получается “въехать” в тему? Через пару дней контрольная и надо разложить всё по полочкам? Не проблема.
         </ServiceCard>

        <ServiceCard MdIcon="square-root" Title="Школьная математика" ButtonLink=@Roots.MathHebrew>
            Учителя и авторы проекта делятся полезными материалами по математике: ссылками, разбором задач и статьями по всем темам школьной программы.
        </ServiceCard>

        <ServiceCard MdIcon="trophy" Title="Олимпиады" ButtonLink=@Roots.Olympics>
            Школьная математика кажется слишком простой? Хочется занять мысли настоящими головоломными задачами олимпиадного уровня? А почему бы и нет.
        </ServiceCard>

        <ServiceCard MdIcon="abjad-hebrew" Title="Математический иврит" ButtonLink=@Roots.MathHebrew>
            <div class="hebrew-block">
                <span class="hebrew-text">שלום לכולם!</span>
            </div>
            Если вы всё ещё путаете <span class="hebrew-text">משולש</span> и <span class="hebrew-text">משושה</span>, то вам сюда. У нас есть словарь основных школьных математических терминов на иврите.
        </ServiceCard>

        <ServiceCard MdIcon="feather" Title="Заметки на~~полях" ButtonLink=@Roots.Blog>
            Небольшой блог авторов проекта со своими мыслями о подходах к изучению математики, путевыми заметками и историями из реальной жизни.
        </ServiceCard>
    </div>
</section>

<section class="team-section">
    <div class="container">
        <h1 class="team-section__title">
            НАША КОМАНДА
        </h1>
        <div class="cards-container">
            <TeamCard PhotoUrl="/assets/images/AlexTykoun.png" FullName="Александр Тыкун" PersonLink=@Roots.AlexTykoun>
                математик, кандидат физ.-мат. наук, доцент БГУ (Минск). Занятия в Хайфе или Online.
            </TeamCard>

            <TeamCard PhotoUrl="/assets/images/OlgaPindrik.png" FullName="Ольга Пиндрик" PersonLink=@Roots.OlgaPindrik>
                математик, кандидат физ.-мат. наук, доцент БГУ (Минск). Занятия в Хайфе или Online.
            </TeamCard>

            <div class="team-join-area">
               <TeamJoinCard />
            </div>
        </div>

    </div>
</section>

<section class="container">
    <div class="afterword">
        <div class="afterword__body">
            <p>
                Кстати... Слово <b>more</b> в названии проекта это не только английское слово “больше”.
                На иврите морé <b><span class="hebrew-text" style="text-indent:0;">(מורה)</span></b>&nbsp;&mdash; это “учитель”,
                а на русском&nbsp;&mdash; бескрайнее <b>“море”</b>. Какой из вариантов больше отражает суть проекта&nbsp;&mdash; решать тебе.
            </p>
            <p>
                Нужен ли тебе учитель,  или спасательный круг в море математики,
                или же что-то большее&nbsp;&mdash; в любом случае,  мы будем рады помочь.
            </p>
        </div>
        <div class="afterword__action">
            <button class="accent-btn" @onclick="()=>_navigationManager.NavigateTo(Roots.TestLesson)">
                Пробное занятие
            </button>
        </div>
    </div>
</section>