@page "/articles/mathematics"


<HeadContent>
@*     <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.0.0/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
    </script> *@
    <script>
        MathJax = {
            tex: {
                inlineMath: [['$', '$'], ['\\(', '\\)']]
            },
            svg: {
                fontCache: 'global'
            }
        };
    </script>
    <script type="text/javascript" id="MathJax-script" async
            src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
    </script>
</HeadContent>

<PageTitle>Школьная математика</PageTitle>


<div class="container">
    <div class="mm-content">
        <h3>Натуральные числа</h3>
        <p>
            $\bullet$ используются при прямом подсчёте одинаковых предметов и явлений.
            $$1, 2, 3, 4, 5, \ldots $$

            $\bullet$ Ноль "0" --- не считается натуральным числом.
            Им нельзя пользоваться при подсчёте. Если чего-то нет -- то его просто нет! 

            $\bullet$ Количество натуральных чисел --- бесконечно. Из любого числа $N$ можно получить следющее за ним число -- просто прибавив единицу: $N+1$. Таким образом, множество натуральных чисел -- множество на котором можно бесконечно прибавлять единицу.

            $\bullet$ Основные операции с натуральными числами:

            \textbf{сложение}:
            $$ 5+6 = 11,$$

            и \textbf{умножение}:
            $$ 5\cdot 6 = \underbrace{5+5+5+5+5+5}_{\Large{\textrm{6 раз}}}. $$

            $\bullet$ Эти две операции \textbf{безопасны} для натуральных чисел: после их применения снова гарантировано получаем натуральное число.

            $\bullet$ Обратные операции к сложению и умножению -- \textbf{вычитание} и \textbf{деление}. Они не всегда имеют результат в виде натурального числа. Поэтому множество натуральных чисел нужно расширять.

            <h3>Целые числа</h3>

            $\bullet$ являются расширением натуральных чисел -- путём введения нового понятия "отрицательное число".
            <div style="display:block; max-width:100%;overflow-x:scroll;">
                $$\overbrace{\underbrace{\ldots, -4, -3, -2, -1,}_{\Large \textrm{отрицательные числа}} \:\;\textbf{0}, \underbrace{\:\;1, \:\;2, \:\;3, \:\;4, \ldots}_{\Large \textrm{натуральные числа}}}^{\Large \textrm{целые числа}} $$
            </div>

            $\bullet$ Ноль "0" считается целым числом, которое получается в результате вычитание из натурального числа самого себя: $\textbf{0} = 2-2 = 5 -5 = N-N$.

            $\bullet$ Количество отрицальных чисел --- также бесконечно. Из любого отрицательного числа $N$ можно получить предыдущее, отняв единицу: $N-1$. Таким образом, на множестве целых чисел можно бесконечно прибавлять и отнимать единицу.

            $\bullet$ Операция \textbf{вычитание} становится \textbf{безопасной} для целых чисел: её результат гарантировано даёт целое число: натуральное, отрицательное или ноль.

            $\bullet$ У каждого целого числа $N$ есть одно единственное \textbf{противоположное} число: $-N$. Его можно получить вычитанием из нуля: $-N = 0 - N.$ переход к противоположному числу называется \textbf{сменой знака}. Противоположное число для нуля -- сам ноль: $0 = - 0$.

            $\bullet$ Операция вычитания равносильна двум последовательным операциям: смене знака вычитаемого и сложению. Например, выражения
            $$ 12 - 35 \textrm{ и } 12 + (-35)$$
            дают один и тот же результат.

            $\bullet$ Это значит, вычитание отрицательного числа равносильно прибавлению его противоположного числа:
            $$23 - (-13) = 23 + 13$$
            (это правило также называют "минус на минус даёт плюс")

            $\bullet$ Если первое слагаемое выражение отрицательное, то его можно поменять местами с любым слагаемым и сделать вычитаемым:
            $$-28 +13+34 = 13 -28 + 34 = 34 +13 - 28. $$

            $\bullet$ Если члены выражения отрицательные, то можно вынести знак минуса за скобки:
            $$ -15 -31 -9 = -(15+31+9). $$

            $\bullet$ Чтобы на запутаться со знаками скобки лучше раскрывать по одной в порядке очереди:
            $$ 15 - (12 -(36 - (-2))) = 15 - (12 -(36 + 2)) =$$
            $$\qquad = 15 - (12 -36 -2)= 15 - 12 +36 +2$$

            $\bullet$ Сложение и вычитание -- полностью \textbf{равноправные} операции, которые можно выполнять с любом порядке (если в выражении нет скобок или других операций). Знак перед каждым членом выражения определяет его роль -- \textbf{слагаемое} или \textbf{вычитаемое}:
            $$ 23 -11 + 7 - 12 = 7 + 23 - 11 - 12 =$$
            $$\qquad = 23 - 12 - 11 + 7 = -12 - 11 +23 +7$$
        </p>
    </div>
</div>






<UnderConstruction />


