@page "/articles/mathematics"
@layout MathLayout

<PageTitle>Школьная математика</PageTitle>


<div class="container">
    <div class="mm-content">
        <h1>Математика для всех </h1>
        <h3>От первого класса до последнего курса</h3>
        <h4>Тестовая страница для проверки отображения формул и прочего</h4>
        <p>
            В наше непростое время ценность критического мышления и умения рассуждать логически возрастает с каждым днём,
            а уровень понимания математики&nbsp;&ndash; языка, структурирующего наше мышление, продолжает снижаться.
            Причин у такой тенденции много&nbsp;&ndash; и "удалёнка", и "гаджеты", и нехватка хороших учителей.
            Но это всё не означает, что математику надо забросить и вместо своего естественного интеллекта полагаться только на искусственный.
            Нет, изучать математику нужно. Но с чего начать? Например, с пробного занятия!
        </p>
        <p>
            Начинается всё с очень простого... Что может быть проще <span class="textit">натуральных чисел</span>? Бери, да считай себе по порядку: 
            $$1, 2, 3, 4, 5, \ldots $$
        </p>
        <p>
            Кстати, вот как раз ссылка на тестовую статью про <a class="intext-link" href="articles/test-article">натуральные числа</a>. 
        </p>
        <p>
            А теперь побалуемся с формулами. Возьмём, например, квадратное уравнение:
            $$ax^2 + bx + c = 0$$
            Ну взяли, дальше что? Дискриминант считать? А формулу помним? А зачем его вообще считать? Какие-то корни надо найти... Такое маленькое уранение, а уже корни пустило.
        </p>
        <p>
            А если будет такое уравнение:
            $$(x-s)(x-t) = 0?$$
            Тут сразу всё понятно и легко. Раз получили ноль, значит, либо $x=s$, либо $x=t$. Вот же они корни: $x_1=s, x_2=t$. И никакого дискриминанта не надо.
        </p>
        <p>
            Ну тогда чуть усложним:
            $$(px-s)(x-t) = 0.$$
            Тоже несложно. Каждую скобку к нулю приравнять и найти $x_1=\displaystyle\frac{s}{p}$ и $x_2=t$. Корни уже начинают завиваться. 
        </p>
        <p>
            А теперь в этом самом уравнении давайте скобки раскроем. Уже не страшно&nbsp;&ndash; корни-то мы знаем, откуда растут. Вот так:
            $$p\cdot x^2 -(s+pt)\cdot x +st = 0.$$
            Красота! И очень похоже на самое первое уравнение, которое мы написали $(ax^2 + bx + c = 0).$ То же самое написано, если считать, что
            $$a=p,\quad b = -(s+pt) = -\left(\displaystyle\frac{s}{p}+t\right)\cdot p,\quad c=st=\displaystyle\frac{s}{p}t\cdot p. $$
        </p>
        <p>
            Только когда коэффициенты записаны через $a,b,c$ мы корней не видим. А когда через $p,s,t$&nbsp;&ndash; уже что-то просматривается. 
        </p>
        <p>
            А именно, вот что:
            $$p\cdot x^2 + p\cdot (-x_1-x_2)\cdot  x + p\cdot x_1x_2 = 0.$$
            $$a=p,\quad b = (-x_1-x_2)\cdot p\quad c=x_1x_2\cdot p. $$
        </p>
        <p>
            Это значит, что когда мы видим коэффициенты $a,b,c$ квадратного уравнения, то мы уже знаем, что $-\displaystyle\frac{b}{a}$&nbsp;&ndash; это сумма наших корней, а $\displaystyle\frac{c}{a}$&nbsp;&ndash; их произведение. И теперь наша задача в том и состоит, чтобы исхитриться и найти два таких числа $x_1$ и $x_2$, что получились такие равентсва. 
        </p>
        <p>
            Такой подход к решению квадратного уравнения часто называется <b>"по теореме Виета"</b> И он иногда неплохо работает.
            $$x^2 +5x + 6 = 0\Rightarrow x_1 = -3, x_2 = -2$$
            $$2x^2 - 5x -3 = 0\Rightarrow x_1 = -\displaystyle\frac{1}{2}, x_2 = 3$$
        </p>
        <p>
            Второе уже было посложнее, правда? Не говоря уже про уравнение $x^2+2x-2=0$. Тут уже в уме по теореме Виета корни не прикинешь. Получается всё-таки нужно помнить формулу дискриминанта?
        </p>
        <p>
            А давайте ещё раз попробуем без неё, но по-другому. Выражение $x^2+2x-2$ ничего не напоминает? Формулу квадрата суммы проще вспомнить, чем проклятый дискриминант.
            $$(a+b)^2=a^2 + 2ab +b^2 - \textrm{ это если вообще,}$$
            $$(x+1)^2=x^2 + 2x +1  - \textrm{ а это если в частности.}$$
        </p>
        <p>
            Первые два слагаемых и в формуле и в уравнении вообще совпадают: $x^2+2x$. Только в уравнении дальше стоит $-2$, а в формуле "квадрата суммы" $+1$. Ну что же, можно прибавить эту единицу и отнять её:
            $$x^2+2x-2 = (x^2+2x+1)-1-2 = (x^2+2x+1)-3.$$
        </p>
        <p>
            Ну а теперь применим формулу, зря что ли вспоминали?
            $$ (x^2+2x+1)-3 = 0 \Rightarrow (x+1)^2-3 = 0 \Rightarrow $$
            $$ \Rightarrow (x+1)^2=3  \Rightarrow x+1=\pm\sqrt{3}.$$
        </p>
        <p>
            Это уже, как говорится, дело техники. Откуда и получаем два корня: $ x_1=-1+\sqrt{3}$ и $x_2=-1-\sqrt{3}$. Такие корни по теореме Виета сходу и не найдёшь.
        </p>
        <p>
            Ну а теперь, если разобраться, что же мы такое сделали, то выясняется, что мы и дискриминант по дороге нашли, и формулы корней применили незаметно для самих себя. Где? А вот распишем все эти действия в общем виде с самого начала.
            $$ax^2 + bx + c = 0$$
            Мы уже заметили, что проще увидеть формулу квадрата сумму, если старшый коэффициент равен еднице. А что нам мешает это сделать? Поделить обе части уравнения на ненулевое число вполне законно. А почему $a\ne 0$? Потому что в противном случае уравнение не было бы квадратным&nbsp;&ndash; ведь $a$ у нас старший коэффициент. Поэтому делим:
            $$x^2 + \displaystyle\frac{b}{a}\cdot x + \displaystyle\frac{c}{a} = 0$$
        </p>
        <p>
            Теперь первые два слагаемых должны напомнить нам формулу квадрата суммы. Пока не очень напоминают, надо чуть подправить:
            $$x^2 + 2\cdot \displaystyle\frac{b}{2a}\cdot x + \displaystyle\frac{c}{a} = 0$$
        </p>
        <p>
            Ага. Вот теперь виден намёк, что перед нами два слагаемых квадрата суммы $x$ и $\displaystyle\frac{b}{2a}$. А сама формула для этой суммы должна выглядеть так:
            $$\left(x+\displaystyle\frac{b}{2a}\right)^2 = x^2 + 2\cdot \displaystyle\frac{b}{2a}\cdot x + \left(\displaystyle\frac{b}{2a}\right)^2.$$
        </p>
        <p>
            Вот куда нас занесло. Но осталось потерпеть совсем чуть-чуть. У нас в уравнении последнее слагаемое это $\displaystyle\frac{c}{a}$ и чтобы компенсировать последнее слагаемое квадрата суммы, нам нужно его теперь отнять. Общая картина уравнения теперь будет такой (только не пугаемся):
            $$x^2 + 2\cdot \displaystyle\frac{b}{2a}\cdot x + \displaystyle\frac{b^2}{4a^2} +\displaystyle\frac{c}{a} - \displaystyle\frac{b^2}{4a^2}=0.$$
        </p>
        <p>
            А теперь превращаем первые три слагаемых в квадрат суммы, а остальное убираем куда подальше в правую часть. 
            $$\left(x +  \displaystyle\frac{b}{2a}\right)^2 = \displaystyle\frac{b^2}{4a^2}-\displaystyle\frac{c}{a}.$$
        </p>
        <p>
            Найдутся ли у нас теперь корни или нет напрямую зависит от правой части. Если она отрицательная&nbsp;&ndash; труба дело. Вещественных решений у нашего уравнея нет.
            А вот если эта правая часть равна нулю, то одно решение мы всё-таки найти сможем. Вот же оно:
            $$x = -\displaystyle\frac{b}{2a}.$$
            Ну и если она положительная, то это вообще праздник. Оба корня можно найти.
            $$x_{1,2} = \pm\displaystyle\sqrt{\displaystyle\frac{b^2}{4a^2}-\displaystyle\frac{c}{a}}-\displaystyle\frac{b}{2a}.$$
            $$x_{1,2} = -\displaystyle\frac{b}{2a}\pm\displaystyle\sqrt{\displaystyle\frac{b^2-4ac}{4a^2}} =$$
            $$ = -\displaystyle\frac{b\pm\displaystyle\sqrt{b^2-4ac}}{2a}.$$
        </p>
        <p>
            И вот в этот момент нам начинает казаться, что формула справа какая-то знакомая. И вполне может быть, что мы её учили даже. И дискриминант под корнем спрятался. И если он отрицательный, то и корней нет. А если нулевой, то корень всего один. Но мы вовсе не хотели его заучивать и вспоминать. Мы просто применили формулу квадрата суммы и получили своё решение. Оказывается, так тоже вполне себе можно решать квадратные уравнения.
        </p>
    </div>
</div>

<UnderConstruction />


