@page "/about/team"

<PageTitle>More Math</PageTitle>

<section>
    @*Homepage Greetings *@
    Our Team

</section>

<section>
    @*Homepage Cards *@
</section>

<section>
    @*Homepage Teams *@
</section>

<section>
    @*Homepage Final *@
</section>

