<section class="container">
    <div class="under-construction-page">
        <h3>Страница ещё не готова.</h3>
        <p>
            Уважаемый посетитель,
        </p>
        <p>
            Наш проект пока только набирает обороты.
            К сожалению, не все материалы пока доступны, оформлены и выложены на сайт.
        </p>
        <p>
            Мы работаем над тем, чтобы наполнить проект хорошим и качественным контентом. Если у вас есть предложения
            по этому поводу &mdash; выходите на связь. Мы будем рады поддержке и сотрудничеству.
        </p>
        <p>
            С уважением, команда проекта <span class="mm-brand__text">more math</span>.
        </p>
    </div>
</section>