<section class="container">

    <div class="under-construction-page">
        <h1>Страница ещё не готова.</h1>
        <div class="not-ready-page-text">
            Уважаемый посетитель,
        </div>
        <div class="not-ready-page-text">
            Наш проект пока только набирает обороты.
            К сожалению, не все материалы пока доступны, оформлены и выложены на сайт.
        </div>
        <div class="not-ready-page-text">
            Мы работаем над тем, чтобы наполнить проект хорошим и качественным контентом. Если у вас есть предложения
            по этому поводу &mdash; выходите на связь. Мы будем рады поддержке и сотрудничеству.
        </div>
        <div class="not-ready-page-text">
            С уважением, команда проекта <span class="mm-brand__text">more math</span>.
        </div>
    </div>
</section>