<header class="header">
    <div class="container">
        <div class="header__inner">
            <div class="brand-group">
                <a href="#" class="brand-group__logo">
                    <img class="brand-group__logo__image"
                         src="/assets/images/svg/brain_logo-75.svg"
                         alt="logo" />
                </a>
                <div class="brand-group__title">
                    <span class="brand-group__title__text">more math</span>
                </div>
            </div>
            <NavMenu />
        </div>
    </div>
</header>

@code{

}