@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

<Header />

<main>
    <ErrorBoundary>
        <ChildContent>
            @Body
        </ChildContent>
        <ErrorContent>
            <ErrorBlock Message="@context.Message" />
        </ErrorContent>
    </ErrorBoundary>
</main>

<Footer />

@* <div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div> *@
